<!DOCTYPE html>
<html lang="en">
    <%- include ("./include/head") %>
    <body>
        <%- include ("./include/navbar") %>
        <div class="container">
            <h3><%= what %></h3>
        </div>
        <%- include ("./include/scripts") %>
        <!-- <%- include ("./include/footer") %> -->
    </body>
</html>
